html(lang="en")
head
    meta(charset="UTF-8")
    title #{title}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
    link(rel='stylesheet', href='../styles/css/defaultmin.css')
body
 .head
  .container#withborder
   .col-lg-7.col-md-7.col-sm-7
    a#logo1(href="/") D
    a#logo2(href="/") DISPLAY
   .col-md-5.col-lg-5.col-sm-5.text-right
    ul
     li
      a.social.tw(href='')
       i.fa.fa-twitter
     li
      a.social.fb(href='')
       i.fa.fa-facebook
     li
      a.social.rs(href='')
       i.fa.fa-rss
     li
      a.social.pi(href='')
       i.fa.fa-pinterest-p
     li
      a.social.lin(href='')
       i.fa.fa-linkedin
     li
      a.social.gp(href='')
       i.fa.fa-google-plus
     li
      a.social.dr(href='')
       i.fa.fa-dribbble
  .container#withoutborder
   .col-lg-2.col-md-2.col-sm-2
    a#homelink(href="/") HOME
    a#contactlink(href="/contact") CONTACT
 .greenbar
  .container
   .col-lg-7.col-md-6.col-sm-6.col-xs-6
    h5 CHECK OUT OUR WORK    
   .col-md-6.col-lg-5.col-sm-6.col-xs-6
    input.input-sm#inpt(type='text' placeholder='Username')
    input.input-sm#inpt(type='text' placeholder='Password')
    button#greenbarbtn LOG IN
 .portfolio
  .container
   .col-md-12.col-lg-12.col-sm-12
    ul
     li
      a.current#l1(href="/") ALL 
     li#l2 /
     li
      a#l3(href="/print") PRINT
     li#l2 /
     li
      a#l3(href="/photography") PHOTOGRAPHY
     li#l2 /
     li
      a#l3(href="/web") WEB 
     li#l2 /
     li
      a#l3(href="/applications") APPLICATIONS
each d in data
 img(src=d.src, alt="")
 .foot1
  .container
   .col-lg-9.col-md-8.col-sm-8#low
    p#wrights COYWRIGHT 2013 DISPLAY ALL RIGHTS RESERVED
   .col-lg-3.col-md-4.col-sm-4#low
    .flinks
     a#wrights(href="/" ) HOME
     a#wrights(href="#" ) /
     a#wrights(href="/contact" ) CONTACT