/*vars*/

$main:#2ecc71;
$black:#010000;
$text: #322f2f;
$w: #FFF;
$red:#ff1755;


@mixin translateY($e){
    -webkit-transform :translateY($e);
    -moz-transform:translateY($e);
    transform: translateY($e);
}

@mixin transition($e){
-webkit-transition :$e;
    -moz-transition:$e;
    transition: $e;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
    //@include transition(.4s ease-in-out);

        &:hover {
            color: $red;
            //@include transition(.4s ease-in-out);
            text-decoration: none;
    }
        
}

.container-fluid{
    line-height: 24px;
}


