@import "_config.scss";
  .fa-twitter,
  .fa-facebook,
  .fa-rss,
  .fa-pinterest-p,
  .fa-linkedin,
  .fa-google-plus,
  .fa-dribbble {
    color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius:20px;
    margin-top: 5px;
  }
  .fa-twitter{
    padding: 5px 7px 5px 7px;
    &:hover{
      border-color:#37c9f7;
      color:#37c9f7;
    }
  }
  .fa-facebook{
    padding: 5px 10px 5px 10px;
   &:hover{
      border-color:#3b5998;
      color:#3b5998;
    }
  }
  .fa-rss{
    padding: 5px 7px 5px 7px;
    &:hover{
      border-color:#d95b29;
      color:#d95b29;
    }
  }
  .fa-pinterest-p{
    padding: 5px 7px 5px 7px;
    &:hover{
      border-color: rgb(189, 8, 28);
      color: rgb(189, 8, 28);
    }
  }
  .fa-linkedin{
    padding: 5px 7px 5px 7px;
    &:hover{
      border-color: #0077b5;
      color: #0077b5;      
    }
  }
  .fa-google-plus{
        padding: 5px 5px 5px 5px;
    &:hover{
      border-color: #d62d20;
      color: #d62d20;      
    }
  }
  .fa-dribbble{
    padding: 5px 7px 5px 7px;
    &:hover{
      border-color: #ea4c89;
      color: #ea4c89;
    }
    
  }
/*HEAD*/
.head{
    background-color: #fefefe;
    ul{
      margin-top: 5px;
      padding: 0;
    }
    li{
      margin-left: 3px;
    }
    ul, li{
    list-style-type: none;
    display: inline-block;
  }
}
#withborder{
    border-bottom: 1px solid #dadada;
}
#logo1{
    font-size: 36px;
    background-color: #737373;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}
#logo2{
    font-size: 24px;
    color: #737373;
    padding-left: 15px;
    font-weight: bold;
    position: relative;
    bottom: 3px;
}
#withoutborder{
    margin-top: 25px;
    margin-bottom: 25px;
}

#homelink {
    font-size: 18px;
    font-weight: bold;
    padding-right: 35px;
    color: #2ecc71;
}
#contactlink{
    font-size: 18px;
    font-weight: bold;
    color: #737373;
}

/*FOOTER*/
.foot{
    background-color: #322f2f;
}
h4{
    color: #fff;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#footbutton{
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 45px;
    background-color: #2ecc71;
    color: #fff;
    border:none;
    border-radius: 0;
    font-size: 14px;
    width: 220px;
    padding: 10px 20px;

    a{
      color: #fff;
    }
}
.foot1{
    background-color: #efefef;
}
.flinks{
  margin-top: 5px;
}
#wrights{
    font-size: 12px;
    color: #a5a5a5;
    padding: 5px;
}
#low{
    margin-top: 25px;
    margin-bottom: 25px;
}

/*GREENBAR*/
.greenbar{
    background-color: #2ecc71;
}
.greenbar h5{
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
}
#inpt{
    margin:30px 10px 25px 0;
    background-color: #2ecc71;
    border:none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
}
#inpt::-webkit-input-placeholder{
  color: #fff;
}
#greenbarbtn{
    margin-left: 15px;
    font-size: 14px;
    color: #2ecc71;
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    border:none;
    font-weight: bold;
}
  /*PORTFOLIO*/
  .portfolio li, portfolio ul {
    text-decoration: none;
    list-style-type: none;
}
.portfolio ul {
    padding: 0;
}
.portfolio li {
    margin-top: 15px;
    display: inline-block;
    padding-right: 15px;
}
#l2 {
    color: #8a8888;
    font-size: 18px;
}
#l3{
    color: #8a8888;
    font-size: 18px;

    &:active{
      color: #2ecc71;
    }
}
#l3:hover{
    color: #2ecc71;
}
#l1{
    color: #2ecc71;
    font-size: 18px;

    &:active{
      color:#2ecc71;
    }

    &:visited{
      color: #2ecc71;
    }
}
.imgcontainer{
  margin-bottom: 20px;
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
}
.imgcontainer:hover>.overlay{
  display: block;
  background: #2ecc71;
  opacity: 0.7
}

#overlayEdit{
    position: absolute;
    opacity: 0;
    top:40%;
    left: 32%;
    transition: opacity .35s ease;
  }

#overlayInfo {
    position: absolute;
    opacity: 0;
    top:40%;
    right: 32%;
    transition: opacity .35s ease;
  }
#overlayClose {
    position: absolute;
    opacity: 0;
    top:62%;
    left: 46%;
    transition: opacity .35s ease;
  }
  
.imgcontainer:hover>#overlayEdit, .imgcontainer:hover>#overlayInfo, .imgcontainer:hover>#overlayClose {
  opacity: 1;
}


/*REGISTER*/
#name, #email, #subject, #message {
  border:1px solid grey;
  border-radius:0;
  margin-top: 0;
}
#message{
  padding-top: 45px;
  padding-bottom: 45px;
}
#formbutton{
  border-radius:0;
  margin-top: 10px;
}
/*FORM*/
#name, #email, #subject, #message {
  border:1px solid #8a8888;
  border-radius:0;
  margin-top: 0;
}
#subject{
    margin-bottom: 20px;
}
#message{
  padding-top: 45px;
  padding-bottom: 45px;
}
#formbutton{
  background-color: #2ecc71;
  border-radius:0;
  margin-top: 10px;
}
#name, #email, #subject, #message ::-webkit-input-placeholder{
    color: grey;
}
/*SINGLEPAGE*/
.projectinfo, .description{
  p{
    color: #737373;
  }
}
.projectinfo {
  margin-top: 20px;
}
.description {
  margin-top: 50px;
  margin-bottom: 70px;
}

.title {
  p{
    font-size: 22px;
    font-weight: bold;
  }
}

.author, .date{
  border-bottom: 1px solid #000;
  p{
    font-size: 14px;
  }
}
.fa-calendar, .fa-user{
  color: $main;
  border: 1px solid $main;
  border-radius:50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 13px;
  padding-left: 13px;
}
#secondEdit{
  margin-top: 25px;
}
#firstEdit{
  margin-top: 50px;
}
#editTitle, #editAuthor, #editCategory, #editDescr {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #e4e4e4;
}
/*NEW*/
#postbtn{
  background-color: #2ecc71;
  border-radius: 0;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 70px;
}
#file-upload input[type="file"]{
  display: none;/* скрываем input file */
  }
  /* задаем стили кнопки выбора файла*/
  
  #file-upload {
  position: relative;
  overflow: hidden;
  background: #2ecc71;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  height: 100px;
  }

  #file-upload label {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  }
    
  #add {
    background-color:#2ecc71;
    height: 250px;
  }
  #plus{
    position: absolute;
    top: 28%;
    left: 35%;
  }
  #pluscontainer{
    background-color: #2ecc71;
    opacity: 0;
  }